.faqs {
  padding: 4rem;
  margin: 0 2rem;
  background: var(-tertiary);
}

p {
  margin: 1rem 0 1rem;
}

.faqs h1 {
  font-size: 40px;
  text-align: left;
}

.faqs h2 {
  font-size: 30px;
  text-align: left;
}
