.center {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-self: center;
  padding-left: 25%;
  padding-right: 25%;
}

@media (min-width:320px)  { 
  .center {
    padding-left: 7%;
    padding-right: 7%
  }
}
@media (min-width:481px)  { 
  .center {
    padding-left: 10%;
    padding-right: 10%
  }
}
@media (min-width:641px)  { 
  .center {
    padding-left: 12%;
    padding-right: 12%
  }
}
@media (min-width:961px)  { 
  .center {
    padding-left: 15%;
    padding-right: 15%
  }
}
@media (min-width:1025px) { 
  .center {
    padding-left: 20%;
    padding-right: 20%
  }
}
@media (min-width:1281px) { 
  .center {
    padding-left: 25%;
    padding-right: 25%
  }
}
