:root {
  --primary: #2D175E;
  --secondary: #7759B3;
  --tertiary: #fff
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
}

.html {
  overflow-y: scroll;
  overflow-x: hidden;
}
